@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    position: fixed;
}

.hero-section {
  background-image: url('/src/assets/images/hero-bg-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}

